nav {
  float: right;
  margin: 0 0 0 auto;
  text-align: right;

  a {
    color: #333;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;
    line-height: 22px;
    padding: 0 23px;
    text-decoration: none;
    transition: opacity 0.25s ease;

    position: relative;
    display: inline-block;
    vertical-align: top;
    -webkit-font-smoothing: antialias;

    &:hover {
      color: #f36;
      text-decoration: none;
    }
  }
}
