@import "ember-bootstrap/bootstrap";
@import "header";
@import "navigation";

.home-container {
  margin-top: 50px;
}

.inline-go-btn {
  height: 34px;
}

.text-divider {
  color: #ccc;
  display: block;
  margin: 10px 0;
}

.how-to-use {
  border-left: 1px solid #ddd;
  margin-top: 10%;
}

.top-score-view {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}

.url-display {
  > a {
    font-style: italic;
  }
  position: relative;
}

.score-row {
  display: flex;
  flex-flow: row nowrap;
  height: 120px;
  margin-top: -10px;
}

.score-desc {
  flex: 1 0 auto;
  max-width: calc(80% - 5px);
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
}

.score-list {
  flex: 1 0 auto;
  height: 80px;
}

.score-header-top {
  margin-top: 0px;
}

.score-readmore {
  margin-top: 12px;
}

.score {
  border-radius: 5px;
  color: #fff;
  display: block;
  flex: 0 0 80px;
  font-size: 32px;
  font-weight: 600;
  height: 80px;
  padding-top: 15px;
  text-align: center;
  text-transform: uppercase;
  width: 80px;

  &[score='A'] {
    background: green;
  }

  &[score='B'] {
    background: gold;
  }

  &[score='C'] {
    background: orange;
  }

  &[score='D'] {
    background: darkred;
  }

  &[score='F'] {
    background: red;
  }

  &[score='N/R'] {
    background: darkgrey;
  }
}

.copyright-text {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.score-overall {
  display: inline-flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
  vertical-align: middle;
  padding: 0;
  margin-right: 15px;
  font-size: 50px;
  font-weight: 700;
}

.italicized {
  font-style: italic;
}

.scorecard-title {
  font-size:42px;
  color: #ea4968;
}