<header>
  <div class='container'>
    <a href='http://www.reullab.gatech.edu/'>
      <img src='/images/reul-lab-logo.png' width='200'/>
    </a>
    <nav>
      <a href='http://www.reullab.gatech.edu/category/eula-news/'>EULA News</a>
      <a href='http://www.reullab.gatech.edu/category/eulacases/'>EULA Cases</a>
      <a href='http://www.reullab.gatech.edu/about-us/'>About REUL Lab</a>
    </nav>
  </div>
</header>
