<header>
  <a href='http://www.reullab.gatech.edu/'>
    <img src='/images/reul-lab-logo.png' width='150px'/>
  </a>
  <nav>
    <a href='http://www.reullab.gatech.edu/about/'>About</a>
    <a href='http://www.reullab.gatech.edu/blog/'>Blog</a>
    <a href='http://www.reullab.gatech.edu/contact/'>Contact</a>
  </nav>
</header>
