<div class='row'>
  <div class='col-sm-8'>
    <h1>Analysis Results</h1>
  </div>
  <div class='col-sm-4 text-right'>
    <br/>
    {{#link-to 'home' class='btn btn-primary'}}
      <i class='fa fa-refresh'>&nbsp;</i>
      Start Over
    {{/link-to}}
    &nbsp;
    {{#link-to 'processing.download' class='btn btn-info'}}
      <i class='fa fa-download'>&nbsp;</i>
      Donwload as PDF
    {{/link-to}}
  </div>
</div>
<br/>
<div class='panel panel-default'>
  <div class='panel-body'>
    <div class='row'>
      <div class='col-sm-6'>
        <h3 class='score-header score-header-top'>Readability</h3>
        <div class='score-row'>
          <div class='score' score='a+'>
            A+
          </div>
          <ul class='score-list'>
            <li>Your EULA uses a high-school reading level</li>
            <li>Text is well-formatted and readable</li>
            <li>Your EULA is under 1200 words long</li>
            <p class='text-right score-readmore'>
              <a>Click to Read More</a>
            </p>
          </ul>
        </div>
        <h3 class='score-header'>Accessibility</h3>
        <div class='score-row'>
          <div class='score' score='nr'>
            NR
          </div>
          <ul class='score-list'>
            <li>You did not give a homepage link, so the tool was unable to determine the accessibility of your EULA</li>
            <p class='text-right score-readmore'>
              <a>Click to Read More</a>
            </p>
          </ul>
        </div>
        <h3 class='score-header'>Content</h3>
        <div class='score-row'>
          <div class='score' score='f'>
            F
          </div>
          <ul class='score-list'>
            <li>Your EULA places unfair restrictions on the user</li>
            <li>Your EULA contains an arbitration clause</li>
            <li>
              <b>12 other aspects failed or scored negatively</b>
            </li>
            <p class='text-right score-readmore'>
              <a>Click to Read More</a>
            </p>
          </ul>
        </div>
        <h3 class='score-header'>Previously Unscrolled Category</h3>
        <div class='score-row'>
          <div class='score' score='d'>
            D
          </div>
          <ul class='score-list'>
            <li>Your EULA did badly for this reason</li>
            <li>A point about why this category failed</li>
            <li>
              <b>5 other aspects failed or scored negatively</b>
            </li>
            <p class='text-right score-readmore'>
              <a>Click to Read More</a>
            </p>
          </ul>
        </div>
      </div>
      <div class='col-sm-6'>
        <h3 class='score-header score-header-top'>First Other Category</h3>
        <div class='score-row'>
          <div class='score' score='a'>
            A
          </div>
          <ul class='score-list'>
            <li>Your EULA uses a high-school reading level</li>
            <li>Text is well-formatted and readable</li>
            <li>Your EULA is under 1200 words long</li>
            <p class='text-right score-readmore'>
              <a>Click to Read More</a>
            </p>
          </ul>
        </div>
        <h3 class='score-header'>Second Other Category</h3>
        <div class='score-row'>
          <div class='score' score='b'>
            B
          </div>
          <ul class='score-list'>
            <li>Your EULA uses a high-school reading level</li>
            <li>Text is well-formatted and readable</li>
            <li>Your EULA is under 1200 words long</li>
            <p class='text-right score-readmore'>
              <a>Click to Read More</a>
            </p>
          </ul>
        </div>
        <h3 class='score-header'>Third Other Category</h3>
        <div class='score-row'>
          <div class='score' score='c'>
            C
          </div>
          <ul class='score-list'>
            <li>Your EULA uses a high-school reading level</li>
            <li>Text is well-formatted and readable</li>
            <li>Your EULA is under 1200 words long</li>
            <p class='text-right score-readmore'>
              <a>Click to Read More</a>
            </p>
          </ul>
        </div>
        <h3 class='score-header'>Other Previously Unscrolled Category</h3>
        <div class='score-row'>
          <div class='score' score='d'>
            D
          </div>
          <ul class='score-list'>
            <li>Your EULA uses a high-school reading level</li>
            <li>Text is well-formatted and readable</li>
            <li>Your EULA is under 1200 words long</li>
            <p class='text-right score-readmore'>
              <a>Click to Read More</a>
            </p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
