{{app-navigation}}

<div class='container app-container'>
  {{outlet}}
  <br/>
  <br/>
  <p class='help-text text-center copyright-text'>
    <small>Copyright © Georgia Institute of Technology 2017</small>
  </p>
</div>
