<div class='text-center'>
  <h1>Downloading Your PDF</h1>
  <br/>
  <div>
    <i class='fa fa-download fa-5x'></i>
  </div>
  <br/>
  <br/>
  <p class='help-text'>
    If your download did not start automatically, please <a href='#' target='_blank' download>click here</a>
  </p>
  <br/>
  <br/>
  <div class='row'>
    <div class='col-sm-3 col-sm-offset-3'>
      {{#link-to 'analysis' class='btn btn-info btn-block'}}
        <i class='fa fa-arrow-left'>&nbsp;</i>
        Back to Results
      {{/link-to}}
    </div>
    <div class='col-sm-3'>
      {{#link-to 'home' class='btn btn-primary btn-block'}}
        <i class='fa fa-refresh'>&nbsp;</i>
        Start Over
      {{/link-to}}
    </div>
  </div>
</div>
