<div class='home-container'>
  <div class='text-center'>
    <h1>Analyzing EULA</h1>
    <br/>
    <div>
      <i class='fa fa-refresh fa-spin fa-5x'></i>
    </div>
    <br/>
    <br/>
    <p class='help-text'>
      Please do not close or refresh the page
    </p>
    <br/>
  </div>
</div>