<div class='text-center'>
  <h1>Processing PDF</h1>
  <br/>
  <div>
    <i class='fa fa-refresh fa-spin fa-5x'></i>
  </div>
  <br/>
  <br/>
  <p class='help-text'>
    Your PDF will automatically download after preparation.
  </p>
  <br/>
</div>
